<div class="row">

  <div class="twelve columns box">
    <h3>Bill with settings</h3>
    <div class="">
      Select the call or sms radio button. Update the appropriate total and the overall total when the ADD button in pressed.
      <i>Calls costs should now be configurable using the settings section.</i>
    </div>
    <div class="">
      <i>If the total cost exceed the warning level show the total cost in orange, if it exceeds the critical level show
        it in red and prevent any new costs from being added. The warning and critical level should both be configurable
        now.
      </i>
    </div>

    <hr>

    <div class="row">

      <div class="six columns">

        <h5>Bill type</h5>
        <label class="">
          <form action="/action" method="POST">
            <input type="radio" name="costType" class="billItemTypeWithSettings" value="call">
            <span class="label-body">Call</span>
        </label>
        <label class="">
          <input type="radio" name="costType" class="billItemTypeWithSettings" value="sms">
          <span class="label-body">SMS</span>
        </label>
        <button class="button-primary" type="submit" name="button">Add</button>
        </form>
        <form class="" action="/resetBtn" method="post">
          <button class="button-primary" type="submit" name="button">Reset</button>
        </form>
        <h5>Totals</h5>
        <table>
          <tr>
            <td>
              <a href="/actions/call">Call total</a>
            </td>
            <td>R<span class="callTotalSettings">{{callTotal}}</span></td>
          </tr>
          <tr>
            <td>
              <a href="/actions/sms">Sms total</a>
            </td>
            <td>R<span class="">{{smsTotal}}</span></td>
          </tr>
          <tr>
            <td>
              <a href="/actions">Total</a>
            </td>
            <td> R<span class="{{color}}">{{grandTotal}}</span></td>
          </tr>
        </table>

      </div>

      <div class="six columns">
        <h5>Settings</h5>
        <form class="" action="/settings" method="post">
          <label for="exampleEmailInput">Call Cost</label>
          <input class="u-full-width" type="number" name="callCost" placeholder="e.g 2.75" step="0.01" value="{{call}}">
          <label for="exampleEmailInput">SMS Cost</label>
          <input class="u-full-width" type="number" name="smsCost" placeholder="e.g 0.75" step="0.01" value="{{sms}}">
          <label for="exampleEmailInput">WarningLevel</label>
          <input class="u-full-width" type="number" name="warningLevel" placeholder="e.g 20" step="0.01" value="{{warning}}">
          <label for="exampleEmailInput">CriticalLevel</label>
          <input class="u-full-width" type="number" name="criticalLevel" placeholder="e.g 40" step="0.0" value="{{critical}}">
          <input class="button-primary" type="submit">
        </form>

      </div>
    </div>
  </div>
</div>